# Supabase
VITE_SUPABASE_URL="https://xxxxxxxxxxxxxxxxxxx.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."

# Service Role Key - usado apenas no script de seed
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."

# TMDB
VITE_TMDB_API_KEY="MY_TMDB_API_KEY"
